<!-- views/events-new.handlebars -->
<style>
body {
  background-color: white;
}
</style>
<br>
<h1>New Smoothie Recipe</h1><br>
<p>New smoothie recipe form, keep in mind which fields are required. You can enter instructions in description field if you'd like, and if you have a link to the recipe, there is no need to rewrite the instructions in the instructions field.</p>
<form action="/smoothies" method="post">
  <!-- Our smoothies form -->
  {{> smoothies-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>
